/*Fonts*/

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'open sans';
  src: url(../fonts/web/opensans.woff2) format('woff2');
  src: url(../fonts/web/opensans.woff) format('woff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'open sans';
  src: url(../fonts/web/opensanslight.woff2) format('woff2');
  src: url(../fonts/web/opensanslight.woff) format('woff');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Gilroy-ExtraBold;
  src: url(../fonts/web/gilroyextrabold.woff2) format('woff2');
  src: url(../fonts/web/gilroyextrabold.woff) format('woff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: Gilroy-Light;
  src: url(../fonts/web/gilroylight.woff2) format('woff2');
  src: url(../fonts/web/gilroylight.woff) format('woff');
}


/*Global styles*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  font-weight: 300;
  font-size: 15px;
  font-family: 'open sans', Arial, sans-serif;
  line-height: 30px;
}

a {
  background-position: 0 16px;
  color: #000;
  text-decoration: none;
}

a:hover {
  opacity: .6
}

a:focus,
a:active {
  opacity: .3
}

a:hover.detail-button {
  opacity: 1;
}


/*Base style for ul, ALL ul*/

.catalog-list, .navigation-list, .services-list, .brands-items, .about-items, .footer-user-navigation-list, .footer-service-navigation-list, .social-items, .breadcrumbs-list, .filter-colors-list, .filter-bt-list, .ranking-list, .ranking-list-type, .product-to-container, .paginator-pages {
  list-style: none
}


/*Styles for frequent class*/

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.detail-button, .filter-title, .navigation-link, .paginator, .product-new::after, .ranking-title {
  text-transform: uppercase;
}

.button {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: center;
  letter-spacing: .15px;
  line-height: 36px;
  cursor: pointer;
}

.detail-button {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  min-width: 220px;
  text-align: center;
  word-wrap: break-word;
  letter-spacing: 2.15px;
  font-weight: 400;
  font-size: 18px;
  font-family: Gilroy-ExtraBold, 'Arial Black', sans-serif;
}

.detail-button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  content: '';
}

.detail-button:hover::before {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
  background-repeat: repeat;
}

.detail-button:active {
  color: rgba(0, 0, 0, .3);
}

.header {
  margin-top: 40px;
}

.color-wrapper, .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 170px;
  width: 1200px;
}

.color-wrapper {
  width: 1160px;
  background-color: rgba(240, 197, 46, .5);
}

.header-logo {
  margin-top: -19px;
  margin-bottom: -20px;
  margin-left: 39px;
  width: 100%;
}

.button:hover {
  opacity: .6;
}

.button:focus {
  border: none;
}

.header .button:active {
  outline: 0;
  border: none;
  opacity: .3;
}

.header-search-form {
  position: relative;
  margin-left: 40px;
  min-width: 440px;
}

.header-search-input {
  padding-top: 3px;
  padding-left: 40px;
  width: 320px;
  height: 42px;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: rgba(240, 197, 46, 0);
  font-family: 'open sans light', Arial, sans-serif;
  line-height: 30px;
}

.catalog-button, .navigation-list, .slide-tagline {
  font-weight: 400;
  font-family: Gilroy-ExtraBold, 'Arial Black', sans-serif;
}

.header-search-form::before {
  position: absolute;
  top: 14px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  content: '';
}

.header-search-input:focus {
  outline: 0;
  border: none;
  border-bottom: 2px solid #000;
}

.header-search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .3);
  letter-spacing: 0.15px;
}

.header-search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .6);
  letter-spacing: 0.15px;
}

.header-search-input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;
}

.header-search-button {
  outline: none;
  background-color: transparent;
  color: transparent;
  cursor: default;
}

.header-search-input:focus+.header-search-button {
  position: absolute;
  top: -5px;
  margin-left: 0;
  width: 83px;
  height: 47px;
  border: 2px solid #000;
  color: #000;
}

.header-search-input:focus+.header-search-button:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.header-search-input:focus+.header-search-button:active {
  background-color: #000;
  color: rgba(255, 255, 255, .3);
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3px;
  margin-right: 40px;
  min-width: 475px;
}

.button-login {
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}

.user-profile {
  margin-top: 3px;
  margin-right: 20px;
}

.button-logout {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 20px;
  opacity: .3;
}

.button-compare {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 36px;
}

.button-cart, .button-compare, .button-login, .button-logout, .user-profile {
  position: relative;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.15px;
}

.button-login::before, .user-profile::before {
  position: absolute;
  top: 12px;
  left: -25px;
  width: 13px;
  height: 12px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  content: '';
}

.footer .button-login::before {
  content: '';
  background-image: url(../img/user-footer.svg);
  background-repeat: no-repeat;
  top: 5px;
  width: 13px;
  height: 12px;
}

.button-compare::before {
  position: absolute;
  top: 14px;
  left: -19px;
  content: '';
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.footer .button-compare::before {
  position: absolute;
  top: 15px;
  left: -17px;
  content: '';
  background-image: url(../img/compare-footer.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.button-cart::before {
  position: absolute;
  top: 12px;
  left: -19px;
  content: '';
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.footer .button-cart::before {
  position: absolute;
  top: 5px;
  left: -18px;
  content: '';
  background-image: url(../img/cart-footer.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.catalog:hover .catalog-wrapper {
  position: absolute;
  left: -60px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  min-width: 1160px;
  background-color: #f7e296;
}

.catalog, .slide {
  position: relative;
}

.catalog {
  -webkit-box-flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 40px;
  width: 250px;
}

.catalog-wrapper {
  display: none;
  min-width: 1100px;
  min-height: 160px;
}

.catalog-list {
  margin-right: 55px;
  padding: 0;
  letter-spacing: .15px;
  line-height: 36px;
}

.catalog-button, .navigation-list {
  padding: 0;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-size: 18px;
}

.catalog-button {
  margin: 0;
  line-height: 12px;
}

.catalog-button::after {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  content: url(../img/plus.svg);
  opacity: .3;
}

.slide-tagline::before, .slide::before {
  content: '';
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 1200px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 20px 0 auto;
}

.navigation-item {
  width: 140px;
}

.navigation-item-link {
  display: block;
  height: auto;
}

.navigation-item:nth-child(2n) {
  margin-right: 80px;
  margin-left: 20px;
}

.sliders-container {
  position: relative;
  margin: 20px auto 98px;
  width: 1040px;
}

.slider-switch-container {
  position: absolute;
  right: 24px;
  bottom: 128px;
  min-width: 80px;
}

.slide {
  display: none;
}

.product-categories, .slide-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide::before {
  position: absolute;
  top: -20px;
  left: -60px;
  z-index: -1;
  display: block;
  width: 1160px;
  height: 129px;
  background-color: rgba(240, 197, 46, .5);
}

.slide-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 40px;
  margin-left: 2px;
  margin-top: -2px;
}

.slide-wrapper {
  position: relative;
  width: 500px;
}

.slide-tagline {
  margin-top: 75px;
  margin-bottom: 17px;
  letter-spacing: .65px;
  font-size: 47px;
  line-height: normal;
}

.slide-tagline::before {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.slide-tagline::after {
  position: absolute;
  top: -36.5px;
  right: -11.5px;
  z-index: -1;
  color: #fff;
  font-size: 179px;
}

.slide-tagline::after {
  letter-spacing: 0.36px;
  font-family: Gilroy-ExtraBold, 'Arial Black', sans-serif;
}

.slide-selfie .slide-tagline::after {
  content: '01';
}

.slide-watch .slide-tagline::after {
  content: '02';
}

.slide-copter .slide-tagline::after {
  content: '03';
}

.slide-description {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 44.5px;
  width: 500px;
  color: #464646;
  vertical-align: middle;
  text-align: left;
  word-wrap: break-word;
  letter-spacing: .15px;
  font-weight: 300;
  font-size: 15px;
  font-family: 'open sans', Arial, sans-serif;
  line-height: 30px;
}

.slide-link {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

.slide-ttx-table {
  margin-top: 55px;
  table-layout: fixed;
}

.slide-ttx-value {
  padding-bottom: 15px;
  word-wrap: break-word;
  letter-spacing: .36px;
  font-weight: 300;
  font-size: 36px;
  font-family: Gilroy-Light, Arial, sans-serif;
  line-height: 36px;
}

.product-categories-name, .services-content-title {
  letter-spacing: 0.18px;
  font-family: Gilroy-ExtraBold, 'Arial Black', sans-serif;
}

.slide-ttx-property {
  width: 155px;
  color: #464646;
  word-wrap: break-word;
  letter-spacing: .13px;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
}

.slide-ttx-property:nth-child(2), .slide-ttx-value:nth-child(2) {
  width: 135px;
}

.slider-switch-item {
  display: none;
}

.slider-switch-label {
  position: relative;
  top: -20px;
  z-index: 2;
  display: inline-block;
  margin-right: 18px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  text-align: left;
}

.slider-switch-label:last-child {
  margin-right: -4px;
}

.slider-switch-label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 2px;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
  content: '';
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
}

.slider-switch-item:checked+.slider-switch-label::before {
  border: 4px double #000;
}

.product-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 169px;
  width: 1160px;
}

.product-categories-name {
  margin-top: 35px;
  width: 160px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.card-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, .5);
  vertical-align: middle;
  text-align: center;
}

.card-image-wrapper .product-categories-card-image[src="img/popular-2.svg"] {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.product-categories-card-link:active .product-categories-card-image {
  opacity: .3;
}

.img-dji:hover, .img-gop:hover, .img-spg:hover, .img-viv:hover, .product-categories-card-link:focus, .product-categories-card-link:hover {
  opacity: 1;
}

.product-categories-card-link:focus .card-image-wrapper, .product-categories-card-link:hover .card-image-wrapper {
  background-color: rgba(240, 197, 46, 1);
}

.services {
  min-width: 1160px;
  background-color: #e5e5e5;
}

.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 90px;
  min-height: 288px;
  width: 1160px;
}

.brands {
  -webkit-box-flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.services-list {
  margin: -100px 116px 68px 0;
  padding: 0;
  width: 285px;
  border-right: 8px solid #000;
}

.services-item {
  margin: 0;
  width: 160px;
}

.services-button {
  margin-bottom: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 160px;
  letter-spacing: 3.18px;
}

.services-button:before {
  background-color: #f0c52e;
}

.services-item:first-child {
  margin-top: 80px;
}

.services-button:hover {
  opacity: 1;
}

.services-button:hover::before {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
  background-repeat: repeat;
  background-color: #f0c52e;
}

.active-label,
.services-button:active::before {
  padding-right: 118px;
  padding-left: 10px;
  width: 277px;
  background-color: #000;
  color: #f7e184;
  opacity: 1;
}

.services-button:active {
  color: #f7e184;
}

.active-label.detail-button::before {
  background-color: #000;
  content: '';
}

.services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -65px;
}

.services-content-block::before {
  position: absolute;
  right: 66px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.services-content-block__delivery::before {
  content: '';
  background-image: url(../img/delivery.svg);
  width: 136px;
  height: 164px;
  top: 50px;
}

.services-content-block__warranty::before {
  content: '';
  background-image: url(../img/warranty.svg);
  width: 171px;
  height: 194px;
}

.services-content-block__credit::before {
  content: '';
  background-image: url(../img/credit.svg);
  width: 156px;
  height: 186px;
}

.about-item::before, .headling-breadcrumbs::before, .social-items::before {
  content: '';
}

.services-content-block {
  position: relative;
}

.services-content-block__credit, .services-content-block__warranty {
  display: none;
}

.services-content-title {
  margin-bottom: 40px;
  color: #000;
  letter-spacing: .21px;
  letter-spacing: 1.21px;
  font-weight: 400;
  font-size: 47px;
}

.services-content-text {
  width: 460px;
  color: #464646;
  letter-spacing: .15px;
  font-family: 'open sans light', Arial, sans-serif;
}

.about-items, .about-title, .contacts-title, .filter-title, .main-catalog-title, .navigation-link, .ranking-title, legend {
  font-family: Gilroy-ExtraBold, 'Arial Black', sans-serif;
}

.brands-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 102px;
  padding: 0;
  width: 1160px;
}

.brands-link {
  font-size: 0;
}

.img-dji:hover>.brands-image {
  background-image: url(../img/logo-1-dji.png);
}

.img-spg:hover>.brands-image {
  background-image: url(../img/logo-2-spg.png);
}

.img-gop:hover>.brands-image {
  background-image: url(../img/logo-3-gp.png);
}

.img-viv:hover>.brands-image {
  background-image: url(../img/logo-4-vive.png);
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px;
  width: 1160px;
}

.about, .contacts {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 65px;
  min-height: 562.5px;
}

.about {
  margin: 0;
  margin-right: 128px;
  padding: 0;
  width: 472px;
}

.contacts {
  margin-right: -;
  width: 560px;
}

.about-title, .contacts-title {
  position: relative;
  margin-bottom: 50px;
  color: #000;
  letter-spacing: .21px;
  font-weight: 400;
  font-size: 47px;
  line-height: 35px;
}

.about-title::before, .contacts-title::before {
  position: absolute;
  top: -59px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
  content: '';
}

.about-content, .contacts-content {
  color: #464646;
  line-height: 30px
}

.about-content {
  margin-bottom: 30px;
}

.contacts-content {
  margin-bottom: 38px;
}

.about-items {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 54px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.about-item {
  position: relative;
}

.about-item::before {
  position: absolute;
  bottom: 16px;
  left: -35px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts-container-map {
  margin-bottom: 60px;
  cursor: pointer;
}

.about-link, .contacts-link {
  display: inline-block;
  min-width: 260px;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 3.8px;
}

.footer {
  min-width: 1200px;
  background-color: #464646;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-width: 1200px;
  min-height: 325px;
}

.logo-img-yellow {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.footer-user-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-preferred-size: 340px;
  flex-basis: 340px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-contacts-services, .footer-social, .footer-user-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-user-navigation {
  margin-top: 50px;
  margin-bottom: 5px;
}

.footer-contacts-services {
  margin-bottom: 30px;
}

.footer-service-navigation-list {
  margin-right: 35px;
  padding: 0;
  min-width: 440px;
}

.footer-service-navigation-item, .footer-user-navigation-item {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.footer-service-navigation-item {
  min-width: 150px;
}

.footer-social {
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: 30px;
  height: 72px;
}

.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  padding: 0;
  min-width: 160px;
}

.social-items::before {
  position: absolute;
  top: 30px;
  left: -30px;
  width: 80px;
  height: 8px;
  background-color: #ffc600;
}

.social-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  height: 32px;
}

.social-item:nth-child(2n) {
  margin-right: 20px;
  margin-left: 20px;
}

.social-link {
  opacity: .3;
}

.social-link:focus, .social-link:hover {
  opacity: .6;
}

.social-link:active {
  opacity: .1;
}

.footer .button {
  margin: 0;
  color: rgba(255, 255, 255, .7);
}

.footer .button:hover {
  color: #fff;
  opacity: 1;
}

.footer .button-login:hover::before, .footer .button-compare:hover::before, .footer .button-cart:hover::before {
  opacity: .6;
}

.footer-adress, .footer-phone {
  color: #fff;
}

.footer .button:active {
  outline: 0;
  border: none;
  opacity: .3;
}

.social-link-htmlAcademy {
  margin-top: 15px;
}

.navigation-link {
  color: #fff;
  letter-spacing: 3.6px;
  font-weight: 400;
  font-size: 18px;
}

.container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 170px;
  width: 1200px;
}

.headling-breadcrumbs {
  position: relative;
  padding-right: 60px;
  padding-left: 60px;
  width: 1160px;
}

.headling-breadcrumbs::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 1160px;
  height: 15px;
  background-color: rgba(240, 197, 46, .5);
}

.main-catalog-title {
  margin: 60px 0 30px;
  color: #000;
  letter-spacing: 0.17px;
  font-size: 47px;
}

.breadcrumbs-list {
  margin: 0 0 39px;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  display: inline-block;
  margin-right: 35px;
  vertical-align: middle;
  text-align: left;
}

.breadcrumbs-link {
  opacity: .3;
  letter-spacing: .14px;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
}

.breadcrumbs-link:hover {
  opacity: 1;
}

.breadcrumbs-link:active {
  opacity: .1;
}

.breadcrumbs-item::before {
  position: absolute;
  right: -18px;
  content: url(../img/nav-arrow.png);
}

.breadcrumbs-item:last-child::before, .filter-title::before, .filter::before {
  content: '';
}

.catalog-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 1160px;
}

.filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 3px;
  min-width: 345px;
  background-color: #eee;
}

.filter-wrapper {
  padding-right: 60px;
}

.filter-title, .ranking-title {
  padding-top: 20px;
  color: #000;
  text-align: left;
  letter-spacing: .91px;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 16px;
}

.filter-title {
  position: relative;
  margin: 0 0 69px;
  padding-right: 170px;
  width: 100%;
  height: 70px;
  background-color: #dcdcdc;
  text-align: right;
}

.ranking {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 77px;
  width: 850px;
  background-color: white;
}

.ranking-title {
  position: relative;
  margin: 0;
  height: 70px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin: 0;
  padding: 7px 0 0;
  width: 200px;
  border-top: 2px solid #000;
  font-size: 18px;
}

.filter-range {
  height: 140px;
}

.button-range {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-right: 55px;
  padding-top: 45px;
  padding-left: 0;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, .2);
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  font-family: Gilroy, 'Arial Black', sans-serif;
  line-height: 22.27px;
}

.button-range-end::before,
.button-range-start::before {
  position: absolute;
  bottom: 26px;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px .5px;
  box-shadow: 0 2px .5px;
  content: '	\01F784';
  font-size: 20px;
  cursor: pointer;
}

.button-range-end:focus,
.button-range-start:focus {
  outline: none;
}

.button-range-end:active::before,
.button-range-start:active::before {
  width: 22px;
  height: 22px;
}

.filter-bt-label, .filter-colors-label, .filter-label, .ranking-link {
  font-size: 14px;
  font-family: 'open sans', Arial, sans-serif;
}

.paginator, .product-name, .product-new::after, .write-us-email, .write-us-name, .write-us-text {
  font-family: Gilroy-ExtraBold, 'Arial Black', sans-serif;
}

.button-range-start::before {
  left: -6px;
}

.button-range-end::before {
  left: 15px;
}

.button-range-end::after, .button-range-start::after {
  position: absolute;
  top: 32px;
  z-index: -1;
  height: 2px;
  outline: 0;
  content: '';
}

.button-range-start::after {
  left: 10px;
  width: 190px;
  background-color: #dbdbdb;
}

.button-range-end::after {
  right: 28px;
  width: 110px;
  background-color: #91c92f;
}

.filter-bt-label, .filter-colors-label, .filter-label {
  letter-spacing: .14px;
  font-weight: 300;
  line-height: 40px;
}

.ranking-link {
  font-weight: 400;
  line-height: 18px;
  opacity: .3;
}

.filter-colors {
  margin-bottom: 16px;
}

.filter-colors-label {
  position: relative;
}

.filter-colors-label::before {
  position: absolute;
  top: -2px;
  left: -42px;
  width: 23px;
  height: 23px;
  border: 2px solid #000;
  border-radius: 5px;
  content: '';
}

.filter-colors-input:checked+.filter-colors-label::before {
  content: '\002714';
  font-size: 27px;
  line-height: 20px;
}

.filter-colors-input:hover+.filter-colors-label::before{
  opacity: .6;
}

.filter-bluetooth {
  margin-bottom: 15px;
}

.filter-bt-label {
  position: relative;
}

.filter-bt-label::before {
  position: absolute;
  top: -2px;
  left: -42px;
  width: 25px;
  height: 25px;
  border: 4px solid #000;
  border-radius: 50%;
  content: '';
}

.filter-bt-input:checked+.filter-bt-label::before {
  display: inline-block;
  content: '\0026AB';
  vertical-align: middle;
  text-align: center;
  font-size: 19px;
  line-height: 14px;
}

.filter-button, .product-to-cart {
  min-width: 200px;
  background-position: center;
}

.filter-button:hover,
.product-to-cart:hover {
  opacity: 1;
}

.ranking-wrapper {
  background-color: #eee;
}

.ranking-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-left: 75px;
  width: 835px;
}

.ranking-list {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 0 0 45px;
  padding: 0;
}

.ranking-list-type {
  padding: 0;
}

.ranking-item {
  display: inline-block;
  margin-right: 25px;
  vertical-align: top;
  text-align: center;
}

.ranking-type-item {
  margin: 0;
  margin-left: 17px;
}

.ranking-list-type:last-child .ranking-link {
  margin: 0;
  font-size: 20px;
}

.use-range {
  opacity: 1;
}

.products-cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 75px;
  width: 760px;
}

.product-card {
  position: relative;
  margin-bottom: 50px;
}

.product-to-cart {
  margin: 0 auto;
}

.product-link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 23px;
}

.product-name {
  width: 260px;
  letter-spacing: .18px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.product-cost {
  color: #464646;
  letter-spacing: .16px;
  font-weight: 300;
  font-size: 16px;
  font-family: Gilroy-Light, Arial, sans-serif;
}

.product-to-container {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  margin: 0;
  padding: 165px 0 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, .7);
  text-align: center;
}

.product-photo-container:hover .product-to-container {
  visibility: visible;
  cursor: pointer;
}

.product-new::after {
  position: absolute;
  top: 25px;
  right: 25px;
  padding-top: 14px;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 50%;
  content: 'new';
  text-align: center;
  font-size: 14px;
  opacity: .2;
}

.product-to-range {
  letter-spacing: .13px;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  opacity: .5;
}

.paginator, .write-us-email, .write-us-name, .write-us-text {
  font-weight: 400;
}

.product-to-range:hover {
  opacity: 1;
}

.product-to-range:active {
  opacity: .2;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -12px;
  margin-left: 75px;
  min-height: 70px;
  width: 760px;
  background-color: #ebebeb;
  letter-spacing: .91px;
  font-size: 16px;
}

.paginator-next, .paginator-prev {
  margin-top: 20px;
  letter-spacing: 3.5px;
}

.paginator-prev {
  margin-left: 30px;
}

.paginator-next {
  margin-right: 30px;
}

.paginator-pages {
  margin: 0;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0;
}

.paginator-page {
  display: inline-block;
  margin: 0;
  margin-right: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: left;
}

.paginator-page:last-child {
  margin-right: 0;
}

.page-three, .page-two {
  opacity: .3;
}

.popup-map, .popup-write-us {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
  width: 960px;
  height: 553px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, .2);
  box-shadow: 0 10px 20px rgba(4, 6, 6, .2);
}

.popup-show {
  z-index: 1;
  display: block;
  -webkit-animation: bounce .5s;
  animation: bounce .5s;
}

.popup-error {
  -webkit-animation: shake .6s;
  animation: shake .6s;
}

.popup-write-us {
  padding-right: 100px;
  padding-left: 100px;
}

.popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-map-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-map-iframe {
  position: relative;
  z-index: 2;
  border: none;
}

@-webkit-keyframes bounce {
  0% {
    opacity: .1
  }
  100% {
    opacity: 1
  }
}

@keyframes bounce {
  0% {
    opacity: .1
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px)
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px)
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
  }
}

.write-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 90px;
}

.write-us-email, .write-us-name {
  padding: 0;
  width: 360px;
}

.write-us-input {
  margin-bottom: 40px;
  width: 360px;
  height: 50px;
}

.write-us-text-input {
  display: block;
  margin-bottom: 50px;
  padding-top: 18px;
  width: 760px;
  height: 156px;
}

.popup-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 10;
  width: 55px;
  height: 55px;
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: #f0c52e;
  font-size: 0;
  opacity: .5;
  cursor: pointer;
}

.popup-close:focus, .popup-close:hover {
  opacity: 1;
}

.popup-close:active {
  opacity: .3;
}

.popup-close::after, .popup-close::before {
  position: absolute;
  top: 26px;
  right: 12px;
  width: 31px;
  height: 2px;
  background-color: #fff;
  content: '';
}

.popup-close::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.write-us-email, .write-us-name, .write-us-text {
  color: #000;
  font-size: 18px;
  line-height: 18px;
}

.write-us-input, .write-us-text-input {
  padding-left: 20px;
  border: none;
  background-color: #f8f8f8;
  color: #464646;
  opacity: .5;
}

.write-us-input:hover, .write-us-text-input:hover {
  outline: 0;
  opacity: .8;
}

.write-us-input:focus, .write-us-text-input:focus {
  outline: 0;
  border: 3px solid #f0c52e;
  background-color: rgba(248, 248, 248, .5);
  opacity: 1;
}

.write-us-input:focus:invalid {
  background-color: #edb5b5;
}
