body {
  margin: 0;
  padding: 0;

  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: .6;
}

a:focus {
  opacity: .3;
}

ul {
  list-style: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.header {
  background-color: rgba(240, 197, 46, .5);
}

.header-search-input {
  background-color: rgba(240, 197, 46, .0);
  border: none;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.header-search-input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

.header-search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .3);
}

.header-search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.header-search-input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);

}

.header-search-button {
  visibility: hidden;
  border: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}

.header-search-input:focus+.header-search-button {
  visibility: visible;
}

.navigation-list {
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
}

.catalog-list {
  line-height: 36px;
  letter-spacing: .15px;
}


.slide-tagline {
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: .17px;
}

.slide-description {
  color: #464646;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.slide-ttx-value {
  font-family: 'Gilroy-Light', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: .36px;
}

.slide-ttx-property {
  color: #464646;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: .13px;
}

.slide-link,
.services-label,
.about-link,
.contacts-link,
.write-us-submit {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  display: block;
  width: 220px;
  background-image: url(../img/addion-1.png);
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
}

.services-label {
  width: 160px;
}

.about-link,
.contacts-link {
  width: 260px;
}

.slide-link:hover,
.services-label:hover,
.about-link:hover,
.contacts-link:hover,
.write-us-submit:hover {
background-repeat: repeat;
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.services-label:active {
  background-image: none;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 118px;
  color: rgb(247, 225, 132);
}

.slide-link:active,
.about-link:active,
.contacts-link:active,
.write-us-submit:active {
  background-color: #f0c52e;
  padding-top: 14px;
  padding-bottom: 11px;
  opacity: 1;
}


.product-categories-card-link:active .product-categories-card-image{
  opacity: .3;
}

.product-categories-name {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.services-content-title {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0.21px;
}

.services-content-text {
  color: #464646;
  font-family: 'open_sanslight', 'Arial', sans-serif;
  letter-spacing: 0.15px;
}

.about-title,
.contacts-title {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0.21px;
}

.about-content,
.contacts-content {
  color: #464646;
  font-family: 'open_sanslight', 'Arial', sans-serif;
}

.about-item {
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.product-categories {
  display: flex;
  min-width: 1160px;
}

.product-categories-card-link {
  width: 160px;
  height: 235px;
  margin-right: 40px;
}

.card-image-wrapper {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, .5);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.product-categories-card-link:nth-child(3) .card-image-wrapper {
  vertical-align: bottom;
}

.product-categories-card-link:hover {
  opacity: 1;
}

.product-categories-card-link:hover .card-image-wrapper{
  background-color: rgba(240, 197, 46, 1);
}

.footer {
  background-color: #464646;
}

.button {
  color: #ffffff;
font-family: 'open_sanslight', 'Arial', sans-serif;
line-height: 36px;
letter-spacing: 0.15px;
background-color: rgba(255, 0, 0, 0);
border: none;
}

.footer-adress,
.footer-phone {
  color: #ffffff;
}

.navigation-link {
  color: #ffffff;
font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
font-size: 18px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 3.6px;
}

/*Modal window. Write us.*/

.write-us-name,
.write-us-email,
.write-us-text {
  color: #000000;
font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 18px;
}

.write-us-input,
.write-us-text-input {
  border: none;
  background-color: #f8f8f8;
  opacity: .5;
}

.write-us-input:hover,
.write-us-text-input:hover{
  opacity: .8;
  outline: none;
}

.write-us-input:focus,
.write-us-text-input:focus{
  opacity: 1;
  background-color: #ffffff;
  outline: none;
  border: 3px solid rgb(240, 197, 46);
}

.write-us-input:invalid{
  background-color: rgb(237, 181, 181);
}

.write-us-submit {
  background-color: rgba(240, 197, 46, 0);
  border: none;
}

/*Fonts*/
@font-face {
  font-family: 'open_sanslight';
  font-weight: normal;
  src: url('../fonts/web/opensanslight.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/web/gilroyextrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/web/gilroylight.woff2') format('woff2');
}

@font-face {
  font-family: 'opensans'
  src: url('../fonts/web/opensans.woff2') format('woff2');
}
